.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 00px 65px 100px;
    background:linear-gradient(0deg,#080D19, #080D19 9%, black 100%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.048);
  }
  
  .left {
    margin-bottom: 50px;
    .courtlogo {
      display: flex;
      padding: 15px 0;
      align-items: center;
      .insta {
        display: flex;
        flex-direction: column;
        gap: 5px;
        span{
          font-size: 20px;
          text-decoration: none;
          color: #fff;
        }
        span:hover{
          font-size: 20px;
          color: rgb(195, 195, 206);
        }
        
        img {
          width: 100px;
        }
      }
    }
  
    h1 {
      font-size: 55px;
      display: flex;
      flex-direction: column;
  
    }
  
    strong {
      font-size: 80px;
      font-weight: 700;
      font-family: 'Outfit', serif;
    }
  
    p {
      margin: 15px 0;
      font-size: 18px;
      width: 60%;
    }
  }
  
  
  
  .contact-btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    padding: 12px 40px;
    box-shadow: 0 0 10px 0 #022d64;
    background-color: #004aad;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .contact-btn:hover {
    transform: scale(1.05);
    background-color: #022d64;
  }
  
  .right img {
    width: 320px;
    position: relative;
    animation: flutuar 2s ease-in-out alternate-reverse infinite;
    vertical-align: middle;
    z-index: 200;
  }
  @keyframes flutuar {
      0%{
          top: 0;
      }
      100%{
          top: 20px;
      }
  }

  @media (max-width: 500px) {
    .container{
      padding: 0px 0px 0px 50px ;
      text-align: center;
      flex-wrap: wrap;
      width: 100%;
      h1{
        display: flex;
        flex-direction: column;
        font-size: 20px;
      }
      strong{
        font-size: 50px;
      }
      p{
        font-size: 13px;
      }
    }
    .left{
      width: 500px;
      padding-right: 50px;
      margin-bottom: 35px;
      .courtlogo{
        padding: 5px 0;
        align-items: center;
        justify-content: center;
        .insta{
          gap: 2px;
          span{
            font-size: 12px;
          }
          img{
            width: 60px;
          }
        }
      }
      P{
        width: 100%;
      }
      .contact-btn{
        display: none;
      }
    }
    .right img{
      width: 230px;
      z-index: 2;
    }
  }