.faqs {
    background: #080D19;
    padding: 40px  20px;


}

.faq {
    max-width: 1000px;
    margin: 0px auto;
    font-family: Arial, sans-serif;
    background: linear-gradient(15deg, #171C27, #1f2533, #171C27);
    color: white;
    padding: 20px;
    border-radius: 10px;
    
}

.faq-item {
    border-bottom: 1px solid #444;
    padding: 10px 0;
}

.faq-question {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.faq-question:hover {
    background: #1f2531;
}

.faq-answer {
    font-size: 17px;
    color: #bbb;
    line-height: 1.5;
    background: #1f2531;
    border-radius: 5px;
    margin-top: 5px;
}

.faq-answer {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
}


.arrow {
    transition: transform 0.3s;
    font-size: 15px;
}

.faq-item.active .arrow {
    transform: rotate(180deg);
}
.faq-answer {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

@media(max-width: 500px){
    .faq-question{
        font-size: 18px;
        line-height: 25px;

    }
    .arrow{
        padding: 5px;
    }
    .faq-answer{
        font-size: 15px;
    }
}