.grafico-container {
    display: flex;
    align-items: center;
    background:linear-gradient(182deg, black , rgb(2, 0, 17), black);
    color: white;
    padding: 50px 0;
}

.grafico {
    width: 50%;
    text-align: center;
    padding-top: 30px;
}

.grafico img {
    width: 65%;
}

.titulo-prin {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    p{
        font-size: 17px;
        color: rgb(234, 233, 250);
    }
}

.titulo-prin h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    font-family: "Outfit", serif;
}

.titulo-prin .p{
    font-weight: bold; font-size: 22px;
    color: white;
}
@media (max-width: 500px) {
    .grafico-container{
        flex-direction: column-reverse;

        gap: 20px;
    }
    .grafico, .grafico img{
        width: 90%;
    }
    .titulo-prin{
        width: 90%;
        text-align: center;
        h2{
            font-size: 18px;
        }
        p{
            font-size: 15px;
        }
        .p{
            font-size: 16px;
        }
    }
    .titulo-projeto h2{
        font-size: 26px;
    }
}