.projeto-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(15deg,  rgb(0, 0, 0),rgb(5, 0, 26),black);
    color: white;
    padding: 50px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.048);

}

.projeto {
    width: 60%;
    text-align: center;
    padding-top: 30px;
}

.projeto img {
    width: 60%;
}

.titulo-projeto {
    width: 50%;
    display: flex;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    gap: 15px;

    ul {
        display: flex;
        flex-direction: column;
        gap: 19px;
        li {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column  ;
                
            gap: 5px;
            
            span {
                font-size: 18px;
                color: #c2ddbc;
            }
            P{
                font-size: 16px;
                margin-left: 26PX;
            }
    
            i {
                color: green;
                font-size: 20px;
            }
        }

    }
    .contact-btn-projeto {
        font-family: 'Poppins', sans-serif;
        padding: 7px 19px;
        margin-left: 30px;
        width: 100%;
        text-align: center;
        box-shadow: 0 0 10px 0 #022d64;
        background-color: #004aad;
        border-radius: 15px;
        font-size: 15px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        transition: 0.3s;
        
    }
    .contact-btn-projeto:hover {
        transform: scale(1.05);
        background-color: #022d64;
      }
}

.titulo-projeto h2 {
    font-weight: bold;
    text-transform: uppercase;

    
}
@media (max-width: 500px) {
    @media (max-width: 500px) {
        .projeto-container{
            flex-direction: column;
            justify-content: center;
        }
        .projeto{
            width: 100%;
            img{
                width: 85%;
                margin-bottom: 15px;
            }
    
        }
        .titulo-projeto{
            width: 100%;
            text-align: center;
            display: flex;
            margin: 0;
            justify-content: center;
            ul{
                display: none;
                padding: 0 40px ;
                li{
                    p{  
                        font-size: 16px;
                        margin: 0;
                    }
                    
                    span{

                        text-align: start;
                    }
    
                }
            }
            .contact-btn-projeto{
                width: 35%;
                margin: 0;
            }
            .button-ver{
                display: flex;
                justify-content: center;
            }
        }
        
    }
}