.projetos-titulo{
    text-align: center  ;
    font-size: 30px;
    padding: 40px 0 ;
    font-family: "Outfit", serif;
}
.projetos{

    padding: 60px 0;
    background:linear-gradient(145deg, rgb(5, 0, 26), rgb(0, 0, 0));
    border-top: 1px solid rgba(255, 255, 255, 0.048);
    border-bottom: 1px solid rgba(255, 255, 255, 0.048);
}
.projetos-alinha{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    flex-wrap: wrap;
}
.cards{
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    flex-wrap: wrap;
}
.card{
    border: 1px solid #337ab7;
    padding: 15px;
    box-shadow: 0 0 80PX 0 #3379b71a;
    position: relative;

    animation: flutuarProj 5s ease-in-out alternate-reverse infinite;
    vertical-align: middle;
    img{
        object-fit: cover;
        width: 350px;
    }
    .info{
        padding: 10px 0 0 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        button{
            padding: 8px 35px;
            border: 1px solid #337ab7;
            background: black;
            cursor: pointer;
            p{
                color: #337ab7;
            }
        }
    }
}    @keyframes flutuarProj {
    0%{
        border: 1px solid #2a5f8d;
        box-shadow: 0 0 40PX 0 #3379b71a;
    }
    33%{
        border: 1px solid #2484d8;
        box-shadow: 0 0 50PX 0 #3379b728;
    }
    100%{
        border: 1px solid #128bf5;
        box-shadow: 0 0 65PX 0 #3379b760;
    }
}

@media (max-width: 500px) {
    .cards{
        padding: 0;
        gap: 35px;
        img{
            width: 300px;
        }
        .info{
            padding: 056x 0 0 1px;
            button{
                padding: 6px 30px;
            }
            h2{
                font-size: 16px;
            }
        }
        
    }
    
}