.projeto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 0;
    flex-wrap: wrap;

}

.projeto-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #13141f;
    border-radius: 12px;
    border: 1px solid #383737;

    width: 350px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.projeto-card:hover {
    transform: scale(1.02);
}

.projeto-image {
    width: 100%;
    background: linear-gradient(0deg, #13141f, #13141f 5%, #0f0f18 80%);
    border-radius: 15px;
    height: 280px;
    padding: 20px 0;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projeto-image img {
    width: 100%;
    height: 100%;
    padding: 50px;
    border-radius: 8px;
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.fade-img {
    opacity: 1;
}

.projeto-info h3 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-top: 15px;
    font-size: 25px;
}

.subtitulo {
    color: #b0b0b0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
}

.button-group {
    margin-top: 15px;
    display: flex;


    width: 100%;
}

.btn-toggle {
    background: #42414b;
    border: none;
    padding: 10px 15px;
    border: 1px solid #0F0F0F;
    font-size: 14px;
    color: white;
    width: 50%;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: background 0.3s, transform 0.2s;
}

.btn-toggle:hover {
    background: #636161;

}

.button-ver {
    width: 100%;
}

.button-ver a {
    display: inline-block;
    background: #212025;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 12px 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    text-decoration: none;

    transition: background 0.3s;
}

.button-ver a:hover {
    background: #302f2f;
}