html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

body {

  color: white;
  flex-wrap: wrap;
  background:linear-gradient(15deg,  #000000, rgb(0, 0, 0),#080D19,#0e172c,#080D19,#000,#000);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0 0 0;
  background-color: rgb(0, 0, 0);



}

ul {
  display: flex;
  gap: 50px;
  list-style: none;
}

li {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}

.li-nav:hover {
  color: #a9ceff;
  transform: scale(1.05);
}

.divisao img {
  position: absolute;
  z-index: 0;
  top: 94%;
  height: 40px;
  width: 100%;
  left: 0;
}

.divisao-down img {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: black;
  z-index: 0;
}

/* Footer */
.footer {
  background: #121212;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo h2 {
  font-size: 24px;
  margin-bottom: 5px;
  background-color: #121212;
}

.footer-logo p {
  font-size: 14px;
  color: #bbbbbb;
}

.footer-nav {
  display: flex;
  gap: 15px;
  background-color: #121212;
}

.footer-nav a {
  color: #bbbbbb;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease-in-out;
}

.footer-nav a:hover {
  color: #ffffff;
}

.footer-social a {
  color: #bbbbbb;
  font-size: 20px;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.footer-social a:hover {
  color: #ffffff;
}

.footer-bottom {
  margin-top: 0px;
  font-size: 12px;
  color: #777777;
  border-top: 1px solid #222;
  padding-top: 15px;
}


@media (max-width: 500px) {
  nav {
    padding: 30px 0;
  }

  ul {
    gap: 30px;
  }

  li {
    font-size: 12px
  }

  ;

  .court-footer {
    width: 50px;

    nav a {
      font-size: 2px;
    }
  }

  .divisao img {
    display: block;
  }
  .divisao-down img {
    position: absolute;
    width: 100%;
    left: 0;
    height: 30px;
    background:black;
    z-index: 1;
  }
}