html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

body {

  color: white;
  flex-wrap: wrap;
  background:linear-gradient(15deg,  #000000, rgb(0, 0, 0),#080D19,#0e172c,#080D19,#000,#000);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0 0 0;
  background-color: rgb(0, 0, 0);



}

ul {
  display: flex;
  gap: 50px;
  list-style: none;
}

li {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}

.li-nav:hover {
  color: #a9ceff;
  transform: scale(1.05);
}

.divisao img {
  position: absolute;
  z-index: 0;
  top: 94%;
  height: 40px;
  width: 100%;
  left: 0;
}

.divisao-down img {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: black;
  z-index: 0;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

footer a {
  color: #25D366; /* Cor do link (ex: WhatsApp) */
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

.footer-links {
  margin: 10px 0;
}

.footer-links a {
  margin: 0 15px;
}


@media (max-width: 500px) {
  nav {
    padding: 30px 0;
  }

  ul {
    gap: 30px;
  }

  li {
    font-size: 12px
  }

  .divisao img {
    display: block;
  }
  .divisao-down img {
    position: absolute;
    width: 100%;
    left: 0;
    height: 30px;
    background:black;
    z-index: 1;
  }
}